/* HEADER */
.header-content {
    background-color: black;
    height: 100px;
}
.header-left img {
    height: 100px;
}
.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-right a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
}
.header-right a:hover {
    color: white;
}
.header-right input {
    margin-left: 20px;
    border: none;
    padding: 3px 8px;
}
.header-right .searchbutton {
    float: right;
    border: none;
    padding: 3px 8px;
}

/*Main Content*/
#outer
{
    width:100%;
    text-align: left;
    line-height: 3;
}
.inner
{
    display: inline-block;
}

#content {
        position: relative;
        padding: 5px 10px;
    }
    #content img {
        position: absolute;
        top: 0px;
        right: 0px;
    }
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 5px solid white;
}  

.flex-child:first-child {
    margin-right: 20px;
} 
#stats{
    position: absolute;
    top: : 100%;
    right: 0%;
    
}


/*Modal*/
.modalbutton {
    display: inline-block;
    border: 1px solid;
    border-color: #ffffff;
    background: #ffffff;
    padding: 10px 16px;
    border-radius: 4px;
    color: #ffffff;
}
[id^=modal] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}
[id^=modal]:target {
    display: block;
}
input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}
.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.popup__overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000b3;
}
.popup__wrapper {
    position: fixed;
    z-index: 9;
    width: 80%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 58px 32px 32px 32px;
    background: #fff;
}
.popup__close {
    position: absolute;
    top: 16px;
    right: 26px;
}
